.acordeon {
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    border: solid 1px #fff;
    border-radius: 8px;
    padding: 1rem;

    transition: all 0.5s;
}

.acordeon:hover {
    background-color: #55569E;
    border-color: #55569E;
}

.acordeon .content ul {
    list-style: none;
}

.acordeon .content {
    display: none; /*fechado*/
}

.acordeon.open .content {
    display: inline-block;
}

.acordeon .trigger {
    font-size: 1.22rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: .5rem 1rem; */

    border: none;
    background-color: transparent;
    color: #fff;

    cursor: pointer;
}

.acordeon.open .trigger::after { /*se tiver a class 'open', vai rotacionar*/
    transform: rotate(180deg);
}

.trigger::after {
    content: '';
    width: 40px;
    height: 22px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/icons/arrow-top.svg);
}