.projects {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.projects li a {
    text-decoration: none;
    color: #fff;
}

.projects li a:hover {
    text-decoration: underline;
    color: #fff;
}

.projectTitle {
    font-weight: 700;
}

.projectTitle.github::before {
    content: "";
    width: 1rem;
    height: 1rem;
    margin-right: .5rem; /*espaço entre icon e texto*/
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/icons/github.svg);
}